.ourcontainer {
    border: 5px solid lightblue;
    padding: 40px;
    border-radius: 25px;
    margin-top: 20%;
    position: relative;
}

.ourcontainer .header {
    font-size: 24px;
    margin-bottom: 10px;
}

.ourcontainer .time {
    position: absolute;
    top: 2px;
    left: 12px;
}

.ourcontainer .time_spent {
    position: absolute;
    top: 2px;
    right: 12px;
}